<div class="row">
  <div class="col-2"></div>

  <div class="col-8">
    <div class="card">
      <div class="card-body">
        <h1>Cadastro de Proponente</h1>
        <%= render "form", proponent: @proponent %>
      </div>
    </div>
  </div>

  <div class="col-2"></div>
</div>
