<div class="d-flex justify-content-center my-5">
  <div class="card w-100" style="max-width: 60%;">
    <div class="card-body">
      <h1 class="text-center my-4 fs-4 fw-bold">Cadastro de Proponente</h1>
      <%= render "form", proponent: @proponent, btn_save: "Salvar", contact_types: @contact_types %>
    </div>
  </div>
</div>
