<div class="row g-4">
  <div class="col-12 d-flex gap-4">
    <div class="card border-0 shadow-lg flex-fill">
      <div class="card-body">
        <h5 class="card-title">Proponentes</h5>
        <p class="card-text fs-4">120</p>
      </div>
    </div>

    <div class="card border-0 shadow-lg flex-fill">
      <div class="card-body">
        <h5 class="card-title">Salários Registrados</h5>
        <p class="card-text fs-4">R$ 256.000</p>
      </div>
    </div>

    <div class="card border-0 shadow-lg flex-fill">
      <div class="card-body">
        <h5 class="card-title">Descontos INSS</h5>
        <p class="card-text fs-4">R$ 45.820</p>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <% @tracks.each do |track| %>
      <div class="col-3">
        <div class="card">
          <div class="card-body text-center">
            <h4 class="card-title">Faixa salárial</h4>
            <p class="card-text"><%= track[:name] %></p>

            <span class="card-link">
              Quantidade

              <p class="fw-bold">
                <%= @proponents.find { |p| p[:track] == track[:name] }&.dig(:quantity) || 0 %>
              </p>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
